.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    h2{
        font-size: 30px;
    }
    .logo-container, .nav-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    .nav-container{
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
        }
    }
}